@font-face {
  font-family: "Avenir";
  src: url("/fonts/Avenir/Avenir-Medium.woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Avenir";
  src: url("/fonts/Avenir/Avenir-Heavy.woff2");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

.container {
  min-height: 100vh;
  display: flex;
  font-family: "Avenir";
}

.nav {
  min-width: 8.5rem;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgb(236, 236, 236);
}

.nav .logo {
  text-align: center;
}

.nav h3 {
  cursor: pointer;
  margin: 0;
  margin-block: 0.5rem;
}

.main {
  flex: 1;
  padding-left: 2.5rem;
  padding-top: 2.5rem;
}

.main > h1 {
  font-size: 4rem;
  padding: 0;
  margin: 0;
}

.mainContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-top: 1rem;
}

.search {
  margin-block: 0.25rem;
  margin-inline: 2.5rem;
  display: flex;
}

.search input {
  min-width: 20%;
  outline: none;
  border: none;
  height: 32px;
  margin-left: 0.5rem;
  font-size: 1.25rem;
  font-family: "Avenir";
}

.search svg {
  color: rgb(196, 196, 196);
}

.header input::placeholder {
  color: rgb(196, 196, 196);
  font-family: "Avenir";
}

.noteContainer {
  align-self: center;
  margin-top: 5.5rem;
}

.addNote {
  appearance: none;
  background: none;
  outline: none;
  border: none;
  position: relative;
  z-index: 999;
}

.addNote svg {
  cursor: pointer;
  fill: black;
}

.noteSelectors {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: -30px;
  top: -20px;
  filter: url(#gooey-effect);
}

.selector {
  height: 32px;
  width: 32px;
  margin: 0 auto;
  border-radius: 100%;
  position: absolute;
  cursor: pointer;
}

.noteParent {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  column-gap: 55px;
  row-gap: 55px;
}

.note {
  background-color: #ffcf7d;
  width: 20rem;
  height: 19rem;
  border-radius: 10%;
  padding: 30px;
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  clip-path: url(#stickyClip);
}

.note textarea {
  width: 100%;
  height: 85%;
  background: none;
  border: none;
  resize: none;
  outline: none;
  font-size: 1.25rem;
  font-family: "Avenir";
  font-weight: 600;
}

.note textarea:disabled {
  color: black;
}

.note .noteMetadata {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.note button {
  appearance: none;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}
